.tenant-nav{
    background-color: #51B3DE;
}

.tenant-btn{
    background-color: #51B3DE !important;
}

.main-header-right .nav-form-control-lg {
    background: #fff;
    border: 1px solid #51B3DE;
    height: 40px;
    width: 100px;
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    transition: 1s;
}

.nav-search-btn-lg {
    color: #fff;
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    transition: 1s;
}
.nav-input-group-lg:hover .nav-search-btn-lg{
    color: #eaebfa;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

.nav-form-control-lg:focus ~ .nav-search-btn-lg{
    color: #eaebfa;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

.main-header-right .nav-form-control-lg:focus {
    background-color: #eaebfa;
    border-color: #e0e1fb;
    box-shadow: none !important;
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
}


@media (min-width: 992px) and (max-width: 1172px) {
    .main-header-right .nav-form-control-lg:focus {
        width: 180px;
    }

    .nav-input-group-lg:hover .nav-form-control-lg {
        border-top-left-radius: 8px !important;
        border-bottom-left-radius: 8px !important;
        width: 180px;
    }
}

@media (min-width: 1173px) {
    .main-header-right .nav-form-control-lg:focus {
        width: 280px;
    }

    .nav-input-group-lg:hover .nav-form-control-lg {
        border-top-left-radius: 8px !important;
        border-bottom-left-radius: 8px !important;
        width: 280px;
    }
}

@media (max-width: 991px) {
    .svg-wrap {
        display: none;
    }
    svg.link-svgline {
        display: none;
    }
    .main-header-right .nav-input-group-lg {
        display: none;
    }
}

.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 8px !important;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(81, 179, 222, 0.8);
}
.input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}
@-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
    }
}
@keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
    }
}
.input100:focus + .focus-input100 {
    color: #51B3DE;
}


/* Utilities */
.br-radius-10 {border-radius: 10px !important;}
.br-radius-15 {border-radius: 15px !important;}

.padding-top-10 {padding-top: 10px;}

.width-137 {width:137px;}

.open-url {
    text-decoration-color: #51B3DE;
}

@media (min-width: 992px) {
    .svg-wrap {
        position: absolute;
        width: 0px;
        height: 0px;
        overflow: hidden;
    }
      
    .sec-link-svgline {
        line-height: 3;
        position: relative;
        z-index: 1; /* needed for setting pseudo-element z-index */
        overflow: hidden;
        backface-visibility: hidden;
    }
      
    .sec-link-svgline a {
        position: relative;
        display: inline-block;
        outline: none;
        color: #404d5b;
        vertical-align: bottom;
        text-decoration: none;
        white-space: nowrap;
    }
      
    .sec-link-svgline a::before,
    .sec-link-svgline a::after {
        pointer-events: none;
        backface-visibility: hidden;
        font-smoothing: antialiased;
    }
      
    .link-svgline a svg.link-svgline {
        position: absolute;
        top: 100%;
        left: 0;
        overflow: hidden;
        margin: 0;
        width: 60%;
        height: 22px; 
        transition: stroke-dashoffset 0.3s ease-in-out;
        transform: translateY(-90%);
        fill: none;
        stroke: #51B3DE;
        stroke-width: 2;
        stroke-dasharray: 400px; 
        stroke-dashoffset: 400px;
    }
      
    .link-svgline a:hover svg.link-svgline {
        stroke-dashoffset: 0px; 
    }
    
    .link-svgline a:hover{
        color: #51B3DE !important; 
    }
}

.cstm-profile-dropdown-menu a:hover{
    border-bottom: 2px solid #51B3DE;
    border-radius:10px
}


.uno > .uno-a:before {
    content: "";
    position: absolute;
    width: 100% !important;
    height: 3px !important;
    bottom: 0 !important;
    left: 0 !important;
    background: #9CF5A6 !important;
    visibility: hidden !important;
    border-radius: 5px !important;
    transform: scaleX(0) !important;
    transition: .25s linear !important;
}
.uno > .uno-a:hover:before,
.uno > .uno-a:focus:before {
    visibility: visible !important;
    transform: scaleX(1) !important;
}
.uno .uno-a:before {
    background: rgba(0,0,0,0) !important;
    box-shadow: 0 0 5px 2px #fff !important;  
}
  