.p-t-12 {padding-top: 12px;}
.p-t-36 {padding-top: 36px;}
.p-t-50 {padding-top: 50px;}
.p-t-60 {padding-top: 60px;}

.p-t-b-50 {padding-top: 50px; padding-bottom: 90px;}

.p-b-10 {padding-bottom: 10px;}
.p-b-20 {padding-bottom: 20px;}
.p-b-30 {padding-bottom: 30px;}

.m-l-5 {margin-left: 5px;}
.text-center {text-align: center;}